@page
@model Meeting_Manager.Pages.Meeting.Faculty_MeetingModel
@{
}

<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CBC3E3;">
    <ul>
        <li><button style="background-color: white;">My Meetings</button></li>
        <li><button style="background-color: white;">Profile</button></li>
        <li><button style="background-color: white;">Queue</button></li>

    </ul>
</div>

<form style="width: 50%; margin: 50px auto; text-align: center;">
  <input type="text" placeholder="Search...">
  <button type="submit">Submit</button>
</form>