@page
@model Meeting_Manager.Pages.Meeting.Faculty_MeetingModel
@{
}

<form method="post" asp-page-handler="Logout">
    <button type="submit" style="position: fixed; top: 10px; right: 10px;" class="btn btn-link">Logout</button>
</form>

@*Sidebar*@
<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CD5C5C;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Faculty_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Faculty_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Faculty_Queue">My Queue</a></button></button></li>

    </ul>
</div>

@*Submit button*@
<form style="width: 50%; margin: 50px auto; text-align: center;">
  <input type="text" placeholder="Search...">
  <button type="submit">Submit</button>
</form>

<form style="width: 50%; margin: 50px auto; text-align: center;">

    <button type="submit">
        <a href="/Meeting/CreateOfficeHours">Set Office Hour Dates</a>
    </button>
</form>
</br>
<div class="meeting-box">
  <h2>My Meetings</h2>
  <ul>
        @{
            foreach (var meetingProfile in Model.MeetingList)
            {
                if (meetingProfile.FacultyID == HttpContext.Session.GetInt32("facultyID"))
                {
                    <li>@meetingProfile.StudentFName @meetingProfile.StudentLName</li>

                }
            }
      }
  </ul>
</div>
