@page
@model Meeting_Manager.Pages.Meeting.Student_MeetingModel
@{
}


<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CBC3E3;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Student_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Student_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Student_Queue">My Queue</a></button></button></li>

    </ul>

</div>

<select>
    <option value="">Select a Faculty</option>
    @foreach (var faculty in Model.FacultyList)
    {
        <option value="@faculty.FacultyFName @faculty.FacultyLName">@faculty.FacultyFName @faculty.FacultyLName</option>
    }
</select>

<form style="width: 50%; margin: 50px auto; text-align: center;">
  <input type="text" placeholder="Search for your professors here!">
  <button type="submit">Submit</button>
</form>

<form style="width: 50%; margin: 50px auto; text-align: center;">
    
    <button type="submit">
        <a href="/Meeting/SignUp_Sheet">Sign Up For Office Hours</a>
    </button>
</form>


