@page
@model Meeting_Manager.Pages.Meeting.Student_MeetingModel
@{
}


<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CBC3E3;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Student_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Student_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Student_Queue">My Queue</a></button></button></li>

    </ul>

</div>



<form style="width: 50%; margin: 50px auto; text-align: center;">
  <input type="text" placeholder="Search...">
  <button type="submit">Submit</button>
</form>



