@page
@model Meeting_Manager.Pages.Login.Create_AccountModel
@{
}

<div class="message" style="font-size: 36px; font-weight: bold; text-align: center;">Create an account! Please select your role: 
</div>

@*Student Button*@
  <div class="button" style="background-color: floralwhite; padding: 20px 40px; margin: 0 10px;">
                <a href="/Login/Student_Create_Account">Student</a>

  </div>

@*Faculty Button*@
<div class="button" style="background-color: floralwhite; padding: 20px 40px; margin: 0 10px;">
                <a href="/Login/Faculty_Create_Account">Instructor</a></div>
</div>
