@page
@model Meeting_Manager.Pages.Login.DBLoginModel
@{
}

<div class="message" style="font-size: 36px; font-weight: bold; text-align: center;">Sign in: 
<div class="message" style="font-size: 36px; font-weight: ; text-align: center;">Enter Username: 
<br />

<form asp-page="DBLogin">
    <input asp-for="Username" class="form-control" placeholder="Enter Username" />
    <br />
    <label>Enter Password:</label>
    <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" />
    <br />
    <input type="submit" class="btn btn-primary" />
</form>
<br />
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p class="text-success">@ViewData["LoginMessage"]</p>
              
    }
    else
    {
        <p class="text-danger">@ViewData["LoginMessage"]</p>
    }
}