@page
@model Meeting_Manager.Pages.Login.Student_Create_AccountModel
@{
}

<div class="message" style="font-size: 36px; font-weight: bold; text-align: center;">Sign Up:>
<div class="message" style="font-size: 36px; font-weight: ; text-align: center;">Please Fill Out the Fields Below:>
</div>
</div>

<form asp-page="Student_Create_Account">
    <input asp-for="Username" class="form-control" placeholder="Create Username" />
    <br />
    <label>Create Password:</label>
    <input asp-for="Password" class="form-control" type="password" />
    <br />
    <input type="submit" class="btn btn-primary" />
</form>


