@*Lab 1 Part 3 (Meeting Manager) by Thomas Clark, Keegan Shirley, and Aidan Weatherly*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body>
        Meeting Manager by Thomas Clark, Keegan Shirley, and Aidan Weatherly
    </body>


    <body style="background-color: #CBC3E3;">


        <div class="message" style="font-size: 36px; font-weight: bold; text-align: center;">Welcome to Meeting Manager! Please select your role: 
            
            
        </div>
        <br />
<div class="buttons" style="display: flex; justify-content: center;">


   @*Student Button*@
  <div class="button" style="background-color: deepskyblue; padding: 20px 40px; margin: 0 10px;">
                <a href="/Profile/Student_Profile">Student</a>

  </div>

  @*Faculty Button*@
<div class="button" style="background-color: deepskyblue; padding: 20px 40px; margin: 0 10px;">
                <a href="/Profile/Faculty_Profile">Instructor</a></div>
</div>




    </body>

    
    
</div>



