@*Lab 1 Part 3 (Meeting Manager) by Thomas Clark, Keegan Shirley, and Aidan Weatherly*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body>
        Meeting Manager by Thomas Clark, Keegan Shirley, and Aidan Weatherly
    </body>


    <body style="background-color: indianred;">


        <div class="message" style="font-size: 36px; font-weight: bold; text-align: center;">Welcome to Meeting Manager! Please Log in or Create an Account!: 
            
            
        </div>
        <br />
<div class="buttons" style="display: flex; justify-content: center;">


   @*Student Button*@
  <div class="button" style="background-color: floralwhite; padding: 20px 40px; margin: 0 10px;">
                <a href="/Login/DBLogin">Login</a>

  </div>

  @*Faculty Button*@
<div class="button" style="background-color: floralwhite; padding: 20px 40px; margin: 0 10px;">
                <a href="/Login/Create_Account">Create Account</a></div>
</div>




    </body>

    
    
</div>



